/* Thiết lập ban đầu cho phần tử */
.fade-in-element {
    width: 200px;
    height: 100px;
    background-color: #3498db;
    /* Màu xanh */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    margin-top: 20px;

    /* 1. Trạng thái ẩn ban đầu */
    opacity: 0;

    /* 2. Quy tắc chuyển đổi (Transition): 
       Áp dụng chuyển đổi cho thuộc tính 'opacity' trong 1.5 giây */
    transition: opacity 1.5s ease-in-out;
}

/* Class kích hoạt hiệu ứng */
.is-visible {
    /* 3. Trạng thái hiện: đặt opacity về 1 */
    opacity: 1;
}

button {
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
}

/* Thiết lập cho phần tử bao bọc */
.image-container {
    width: auto;
    height: 90%;
    overflow: hidden;
    border: 1px solid #ccc;
    cursor: pointer;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    background: transparent;
    margin: auto;
    z-index: 5;
    border-radius: 8% 8% 0 0 ;
}


.image-responsive {
    /* Hình ảnh sẽ chiếm 100% chiều rộng của container (phần tử cha) */
    width: 100%;
    height: 100%;
    /* Rất quan trọng: Luôn đặt 'height: auto' để duy trì tỷ lệ */
}