.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.disappear {
  width: 0;
  height: 0;
}

.pulsing-3 {
  width: 50px;
  height: 50px;
  color: #dc1818;
  background:
    radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
    radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
    linear-gradient(to bottom left, currentColor 42%, #0000 43%) bottom left,
    linear-gradient(to bottom right, currentColor 42%, #0000 43%) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  align-self: center;

}

.pulsing-3:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: pl3 1s infinite;
}

@keyframes pl3 {
  to {
    transform: scale(1.8);
    opacity: 0
  }
}

.marginTopcenter {
  margin-top: 25vh;
  font-size: 20px;
}

.ceterText {
  text-align: center;
}

@media (max-width: 600px) {
  .addtion-class {
    left: -15vw;
    width: 130vw;
    height: 130vh !important;
    top: -15vh;
  }
}